.lt-main .lt-nav li{
    float: left;
    width: 33.33%;

}
.lt-main .lt-nav{
padding: 10px;
}
.lt-main .lt-product li{
    float: left;
    width: 48%;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
.lt-main .lt-product li:nth-child(odd){
    margin-right: 4%;
}
.lt-main .lt-product{
    padding: 10px;
}
.lt-main .lt-product li .pr{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.lt-main .lt-product li .price{
    color: red;
}
.lt-main .lt-product li .oldPrice{
    color: #ccc;
    text-decoration: line-through;
}
.lt-main .lt-product li .buy{
    text-align: center;
    margin: 10px;
    display: block;
}
.lt-main .lt-product li p{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
word-break: break-all;
display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;

}