
.lt-history{
    padding: 10px;
    font-size: 12px;
    color: #666;
}
.lt-history .title{
    height: 30px;
}
.lt-history .content{
    border: 1px dashed #007AFF;
}
.lt-history .content li{
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    border-bottom: 1px dashed #007AFF;
    overflow: hidden;
    position: relative;
    padding-right: 30px;
}
.lt-history .content li:last-of-type{
    border-bottom: none;
}
.lt-history .content li i{
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
